* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

header > ul {
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20%;
  background-color: #0095ff;
}

header > ul li {
  font-size: 10px;
  margin: 0 10px;
  color: white;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20%;
}

header > div img {
  height: 80px;
  flex-basis: auto;
}

header > div ul li {
  display: inline-block;
  margin: 0 10px;
  color: black;
  font-size: 13px;
  font-weight: bold;
}

header > div ul li:hover {
  color: #0095ff;
}

header .jumbotron {
  background-image: url("/storage/assets/jumbotron.jpg");
  height: 450px;
  background-size: cover;
}

main {
  background-color: #1a1919;
  text-align: center;
  position: relative;
}

main .currentSeries {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: #0095ff;
  padding: 25px 35px;
  position: absolute;
  top: -25px;
  left: 20%;
}

main .currentSeries span {
  font-size: 23px;
  color: white;
}

main .blueDiv {
  background-color: #0095ff;
  height: 50px;
  position: relative;
}

main .blueDiv img {
  position: absolute;
  bottom: 20px;
  left: 20%;
}

main div.detail-section1 {
  background-color: white;
  padding: 30px 20%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid grey;
}

main div.detail-section1 div:first-child {
  flex-basis: 60%;
}

main div.detail-section1 div:first-child .green-box {
  height: 50px;
  background-color: #75d375;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

main div.detail-section1 div:first-child .green-box div:first-child {
  text-align: left;
}

main div.detail-section1 div:first-child .green-box div:last-child span:last-child {
  border-left: 1px solid black;
  padding: 16px 0 16px 10px;
}

main div.detail-section1 div:last-child {
  flex-basis: 40%;
  text-align: right;
}

main .detail-section2 {
  background-color: #e9e7e7;
  padding: 20px 20%;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

main .detail-section2 div {
  flex-basis: calc(100% / 2 - 20px);
}

main .detail-section2 div div {
  border-bottom: 1px solid grey;
  padding: 20px 0;
  display: flex;
}

main .detail-section2 div div h4 {
  flex-basis: 30%;
  color: grey;
}

main .detail-section2 div div h5 {
  flex-basis: 70%;
}

main .detail-section2 div div a {
  flex-basis: 70%;
}

main .detail-section2 div div h4,
main .detail-section2 div div a,
main .detail-section2 div div h5 {
  margin-top: 10px;
}

main .detail-section2 div div.talent div {
  justify-content: space-between;
}

main .detail-section2 div div.specs {
  justify-content: flex-start;
}

main .detail-section3 {
  background-color: #e9e7e7;
  display: flex;
  justify-content: flex-start;
  padding: 0 20%;
  border-top: 1px solid grey;
}

main .detail-section3 div {
  flex-basis: 25%;
  display: flex;
  justify-content: space-between;
  border-right: 0.5px solid grey;
  border-left: 0.5px solid grey;
  padding: 10px;
  height: 50px;
}

main .detail-section3 div h4 {
  color: grey;
}

main .detail-section3 div img {
  height: 30px;
}

main ul.movies-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 20%;
}

main ul.movies-list li {
  flex-basis: 15%;
  margin-bottom: 20px;
}

main ul.movies-list li img {
  width: 100%;
  height: 173px;
}

main ul.movies-list li h3 {
  color: white;
  font-size: 16px;
}

main button {
  width: 150px;
  height: 30px;
  padding: 10px 30px;
  color: white;
  background-color: #0095ff;
  border: 0;
  margin-bottom: 20px;
}

main ul.blue-section {
  background-color: #0095ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20%;
}

main ul.blue-section li {
  flex-basis: 25%;
}

main ul.blue-section li img {
  height: 50px;
  width: auto;
  vertical-align: middle;
}

main ul.blue-section li span {
  color: white;
  margin: 0 10px;
  font-size: 15px;
}

main ul.blue-section li:last-child img {
  height: 30px;
}

footer {
  background-image: url("/storage/assets/dc-logo-bg.png"), url("/storage/assets/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: right, center;
  display: flex;
  justify-content: flex-start;
  padding: 30px 20%;
}

footer ul {
  margin-bottom: 10px;
  margin-right: 20px;
}

footer ul li {
  padding: 3px 0;
}

footer ul li:first-child {
  margin-bottom: 10px;
}

footer ul li:first-child a {
  color: white;
  font-size: 20px;
}

footer ul li a {
  color: grey;
}

footer > div {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

footer > div ul li {
  padding: 3px 0;
}

footer > div ul li a {
  color: grey;
}

